body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 40px auto;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
}

.balance, .summary {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#transaction-list {
  list-style: none;
  padding: 0;
}

.transaction {
  background: #eee;
  margin: 8px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-left: 5px solid green;
}

.transaction.expense {
  border-color: red;
}
